@model ViewModel.ProjectVM
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<br />
<hr />

<h3 class="inline-head">@Model.Name</h3><a href="/Footmark/AddFootmark/@Model.ID" target="_blank">New Footmark</a>

<br />
<table class="table table-striped">
    @foreach (var item in Model.FootmarkList)
    {
        <tr>
            <td class="min150-td">@item.MarkTime</td>
            <td>@item.Content</td>
        </tr>
    }
</table>
